.nav-link {
    font-family: "Times New Roman", serif;
    color: red;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
  }
  
  .btn-danger {
    background-color: #4e35dc;
    border-color: #0f0f0f;
  }

  .my-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
  }
  
  h1 {
    text-align: center;
    margin: 0 auto;
  }
